CompileFlags:
  Remove: # Remove false positive errors when using g++-14 with c++20 or above standard
    - "-fmodule*"
    - "-fdeps-format*"
Diagnostics:
  Suppress:
    - "type_unsupported"
  ClangTidy:
    # ClangTidy: See checks in file `.clang-tidy`
    FastCheckFilter: Strict # Run only checks measured to be fast, https://clangd.llvm.org/config#fastcheckfilter
  UnusedIncludes: Strict
  Includes:
    AnalyzeAngledIncludes: Yes # Enables detection of unused angled includes that are not from the standard library
  # MissingIncludes: Strict # Uncomment it if required; might be too annoying
Index:
  Background: Build
  StandardLibrary: Yes
InlayHints:
  Enabled: Yes
  BlockEnd: Yes
  DeducedTypes: Yes
  Designators: Yes
  ParameterNames: Yes
  TypeNameLimit: 24
Hover:
  ShowAKA: Yes

# Example on partly configuring some folder/files
# ---
# If:
#   PathMatch:
#     - "test_98/.*"
#     - "test_14/.*"
# Diagnostics:
#   ClangTidy:
#     Remove:
#       - "*-owning-memory"
#       - "*-special-member-functions"
#       - "modernize*"
