---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  *,
  -*objc*,
  -abseil*,
  -altera*,
  -boost-use-ranges,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -cert-dcl21-cpp,
  -cert-err58-cpp,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -fuchsia*,
  -google-build-using-namespace,
  -google-readability-todo,
  -llvm-include-order,
  -llvm-qualified-auto,
  -llvmlib*,
  -misc-non-private-member-variables-in-classes,
  -misc-use-internal-linkage,
  -modernize-pass-by-value,
  -modernize-use-designated-initializers,
  -modernize-use-trailing-return-type,
  -performance-enum-size,
  -performance-unnecessary-value-param,
  -readability-qualified-auto,
  -readability-static-accessed-through-instance,
  -zircon*,
CheckOptions:
  modernize-use-ranges.UseReversePip: true
  readability-identifier-length.IgnoredVariableNames: n|ch|_|id|to|t|u|i|j|k|op
  readability-identifier-length.IgnoredParameterNames: n|ch|_|id|to|t|u|i|j|k|op
  # Uncomment the below options to force Stroustrup style naming: See https://clang.llvm.org/extra/clang-tidy/checks/readability/identifier-naming.html
  # readability-identifier-naming.AbstractClassCase: Leading_upper_snake_case
  # readability-identifier-naming.AggressiveDependentMemberLookup: false
  # readability-identifier-naming.CheckAnonFieldInParent: true
  # readability-identifier-naming.ClassCase: Leading_upper_snake_case
  # readability-identifier-naming.ClassIgnoredRegexp: "[a-z_]+_type|pointer|(const_)?reference|(const_)?iterator|iterator_(category|concept)"
  # readability-identifier-naming.ClassConstantCase: lower_case
  # readability-identifier-naming.ClassMemberCase: lower_case
  # readability-identifier-naming.ClassMethodCase: lower_case
  # readability-identifier-naming.ConceptCase: lower_case
  # readability-identifier-naming.ConstantCase: lower_case
  # readability-identifier-naming.ConstantMemberCase: lower_case
  # readability-identifier-naming.ConstantParameterCase: lower_case
  # readability-identifier-naming.ConstantPointerParameterCase: lower_case
  # readability-identifier-naming.ConstexprFunctionCase: lower_case
  # readability-identifier-naming.ConstexprMethodCase: lower_case
  # readability-identifier-naming.ConstexprVariableCase: lower_case
  # readability-identifier-naming.EnumCase: Leading_upper_snake_case
  # readability-identifier-naming.EnumConstantCase: lower_case
  # readability-identifier-naming.FunctionCase: lower_case
  # readability-identifier-naming.GetConfigPerFile: true
  # readability-identifier-naming.GlobalConstantCase: lower_case
  # readability-identifier-naming.GlobalConstantPointerCase: lower_case
  # readability-identifier-naming.GlobalFunctionCase: lower_case
  # readability-identifier-naming.GlobalPointerCase: lower_case
  # readability-identifier-naming.GlobalVariableCase: lower_case
  # readability-identifier-naming.IgnoreMainLikeFunctions: false
  # readability-identifier-naming.InlineNamespaceCase: lower_case
  # readability-identifier-naming.LocalConstantCase: lower_case
  # readability-identifier-naming.LocalConstantPointerCase: lower_case
  # readability-identifier-naming.LocalPointerCase: lower_case
  # readability-identifier-naming.LocalVariableCase: lower_case
  # readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  # readability-identifier-naming.MemberCase: lower_case
  # readability-identifier-naming.MethodCase: lower_case
  # readability-identifier-naming.NamespaceCase: lower_case
  # readability-identifier-naming.ParameterCase: lower_case
  # readability-identifier-naming.ParameterPackCase: lower_case
  # readability-identifier-naming.PointerParameterCase: lower_case
  # readability-identifier-naming.PrivateMemberCase: lower_case
  # readability-identifier-naming.PrivateMemberSuffix: _
  # readability-identifier-naming.PrivateMethodCase: lower_case
  # readability-identifier-naming.ProtectedMemberCase: lower_case
  # readability-identifier-naming.ProtectedMethodCase: lower_case
  # readability-identifier-naming.PublicMemberCase: lower_case
  # readability-identifier-naming.PublicMethodCase: lower_case
  # readability-identifier-naming.ScopedEnumConstantCase: lower_case
  # readability-identifier-naming.StaticConstantCase: lower_case
  # readability-identifier-naming.StaticVariableCase: lower_case
  # readability-identifier-naming.StructCase: Leading_upper_snake_case
  # readability-identifier-naming.StructIgnoredRegexp: "[a-z_]+_type|pointer|(const_)?reference|(const_)?iterator|iterator_(category|concept)"
  # readability-identifier-naming.TemplateParameterCase: Leading_upper_snake_case
  # readability-identifier-naming.TemplateTemplateParameterCase: Leading_upper_snake_case
  # readability-identifier-naming.TypeAliasCase: Leading_upper_snake_case
  # readability-identifier-naming.TypeAliasIgnoredRegexp: "[a-z_]+_type|pointer|(const_)?reference|(const_)?iterator|iterator_(category|concept)"
  # readability-identifier-naming.TypedefCase: Leading_upper_snake_case
  # readability-identifier-naming.TypedefIgnoredRegexp: "[a-z_]+_type|pointer|(const_)?reference|(const_)?iterator|iterator_(category|concept)"
  # readability-identifier-naming.TypeTemplateParameterCase: Leading_upper_snake_case
  # readability-identifier-naming.UnionCase: Leading_upper_snake_case
  # readability-identifier-naming.ValueTemplateParameterCase: Leading_upper_snake_case
  # readability-identifier-naming.VariableCase: lower_case
  # readability-identifier-naming.VirtualMethodCase: lower_case
WarningsAsErrors: ""
HeaderFilterRegex: ""
UseColor: true
FormatStyle: none
User: user
